@font-face {
  font-family: 'EYInterstate';
  src: url("../fonts/EYInterstate-Regular.eot") format('truetype');
  src: url("../fonts/EYInterstate-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/EYInterstate-Regular.ttf") format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'EYInterstate';
  src: url("../fonts/EYInterstate-LightBold.eot") format('truetype');
  src: url("../fonts/EYInterstate-LightBold.eot?#iefix") format('embedded-opentype'), url("../fonts/EYInterstate-LightBold.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'EYInterstate';
  src: url("../fonts/EYInterstate-Bold.eot") format('truetype');
  src: url("../fonts/EYInterstate-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/EYInterstate-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'EYInterstate';
  src: url("../fonts/EYInterstate-Italic.eot") format('truetype');
  src: url("../fonts/EYInterstate-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/EYInterstate-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'EYInterstate';
  src: url("../fonts/EYInterstate-BoldItalic.eot") format('truetype');
  src: url("../fonts/EYInterstate-BoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/EYInterstate-BoldItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'EYInterstate';
  src: url("../fonts/EYInterstate-Light.eot") format('truetype');
  src: url("../fonts/EYInterstate-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/EYInterstate-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'EYInterstate';
  src: url("../fonts/EYInterstate-LightItalic.eot") format('truetype');
  src: url("../fonts/EYInterstate-LightItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/EYInterstate-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'wib-icomoon';
  src: url("../fonts/wib-icomoon.eot");
  src: url("../fonts/wib-icomoon.eot#iefix") format('embedded-opentype'), url("../fonts/wib-icomoon.ttf") format('truetype'), url("../fonts/wib-icomoon.woff") format('woff'), url("../fonts/wib-icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*="icon-"] {
  font-family: 'wib-icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-network:before {
  content: "\e944";
}
.icon-synching:before {
  content: "\e943";
}
.icon-chain-linked:before {
  content: "\e941";
}
.icon-chain-broken:before {
  content: "\e942";
}
.icon-equal-outline:before {
  content: "\e93f";
}
.icon-equal:before {
  content: "\e940";
}
.icon-trash:before {
  content: "\e93d";
}
.icon-settings:before {
  content: "\e939";
}
.icon-business-challenges:before {
  content: "\e93a";
}
.icon-compass:before {
  content: "\e93b";
}
.icon-globe:before {
  content: "\e93c";
}
.icon-close:before {
  content: "\e900";
}
.icon-return-arrow:before {
  content: "\e922";
}
.icon-action-arrow:before {
  content: "\e901";
}
.icon-back-arrow-fill:before {
  content: "\e902";
}
.icon-back-arrow-outline:before {
  content: "\e903";
}
.icon-advanced:before {
  content: "\e904";
}
.icon-intermediate:before {
  content: "\e905";
}
.icon-beginner:before {
  content: "\e906";
}
.icon-leaderboard:before {
  content: "\e907";
}
.icon-results:before {
  content: "\e908";
}
.icon-market-update:before {
  content: "\e926";
}
.icon-results-list:before {
  content: "\e93e";
}
.icon-calculator-fill:before {
  content: "\e909";
}
.icon-calculator-outline:before {
  content: "\e90a";
}
.icon-calendar-outline:before {
  content: "\e90b";
}
.icon-events:before {
  content: "\e90c";
}
.icon-case-example-outline:before {
  content: "\e90d";
}
.icon-information:before {
  content: "\e90e";
}
.icon-circle-info:before {
  content: "\e90f";
}
.icon-duration-clock:before {
  content: "\e918";
}
.icon-go-do-outline:before {
  content: "\e938";
}
.icon-action-planned-fill:before {
  content: "\e910";
}
.icon-document:before {
  content: "\e911";
}
.icon-glossary-fill:before {
  content: "\e912";
}
.icon-glossary-outline:before {
  content: "\e913";
}
.icon-quick-resources-fill:before {
  content: "\e914";
}
.icon-quick-resources-outline:before {
  content: "\e915";
}
.icon-up-indicator:before {
  content: "\e916";
}
.icon-down-indicator:before {
  content: "\e917";
}
.icon-edit-outline:before {
  content: "\e919";
}
.icon-exercise-outline:before {
  content: "\e91a";
}
.icon-expand-arrow:before {
  content: "\e91b";
}
.icon-expand-arrow-left:before {
  content: "\e91c";
}
.icon-expanded-arrow:before {
  content: "\e91d";
}
.icon-favorite-fill:before {
  content: "\e91e";
}
.icon-favorite-outline:before {
  content: "\e91f";
}
.icon-filter-fill:before {
  content: "\e920";
}
.icon-filter-outline:before {
  content: "\e921";
}
.icon-instructions:before {
  content: "\e923";
}
.icon-learning-burst-outline:before {
  content: "\e924";
}
.icon-logout-fill:before {
  content: "\e925";
}
.icon-me-fill:before {
  content: "\e927";
}
.icon-me-outline:before {
  content: "\e928";
}
.icon-plus:before {
  content: "\e929";
}
.icon-no-change:before {
  content: "\e92a";
}
.icon-no-minus:before {
  content: "\e92a";
}
.icon-opportunity:before {
  content: "\e92b";
}
.icon-programs:before {
  content: "\e92c";
}
.icon-programs-fill:before {
  content: "\e92d";
}
.icon-quiz-outline:before {
  content: "\e92e";
}
.icon-checkmark:before {
  content: "\e92f";
}
.icon-recent-activity-complete:before {
  content: "\e930";
}
.icon-recent-activity-current:before {
  content: "\e931";
}
.icon-recommended-fill:before {
  content: "\e932";
}
.icon-recommended-outline:before {
  content: "\e933";
}
.icon-resources-fill:before {
  content: "\e934";
}
.icon-resources-outline:before {
  content: "\e935";
}
.icon-simulation-fill:before {
  content: "\e936";
}
.icon-new:before {
  content: "\e937";
}
html,
body {
  min-height: 100%;
}
body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "EYInterstate";
  line-height: 20px;
}
h3 {
  font-size: 2.4rem;
  line-height: 3rem;
}
h4 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: #34446b;
}
.btn {
  border-radius: 0;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
ul,
ol {
  padding-left: 0;
}
li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5em;
}
.modal-lg {
  width: 1004px;
}
.modal {
  color: #000;
}
.modal-dialog {
  z-index: 1050;
}
.fa {
  font-family: inherit;
}
.fa:before {
  font-family: FontAwesome;
}
.bottom-border {
  border-bottom: 1px solid #b8b8b8 !important;
  overflow: hidden;
}
.bottom-border--dark {
  border-bottom: 1px solid #6d747e !important;
  overflow: hidden;
}
.right-border {
  border-right: 1px solid #b8b8b8 !important;
  overflow: hidden;
}
.pane.active {
  position: absolute;
  display: block;
  top: 65px;
  height: calc(100vh - 65px);
  margin: 0;
  padding: 0;
  right: 0;
}
.pane.active.pane--messages {
  top: 139px;
  height: calc(100vh - 139px);
}
.pane.active feedback,
.pane.active info,
.pane.active user-choice {
  position: absolute;
  display: block;
  top: 0;
  height: calc(100vh - 150px);
  padding: 0;
  z-index: 10;
}
.pane.active feedback .animated,
.pane.active info .animated,
.pane.active user-choice .animated {
  padding: 0;
/* .info-closeTop
                    &:before
                        content "\F00D"*/
}
.pane.active feedback .animated .feedback-close,
.pane.active info .animated .feedback-close,
.pane.active user-choice .animated .feedback-close {
  margin: 10px 0 0 0;
  border: solid 2px #fff;
  right: 10px;
  padding-top: 0.5rem;
}
.pane.active planning-tool,
.pane.active tutorials,
.pane.active resources,
.pane.active endofroundfeedback {
  position: absolute;
  display: block;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100vh - 65px);
  padding: 0;
  z-index: 15;
}
.pane.active user-choice {
  overflow-y: auto;
}
.pane.active user-choice .animated {
  height: initial;
  border-left: 4px solid #89d762;
  background-color: #09b8ef;
}
.pane.active user-choice accordion.panel-group .panel {
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 2px;
}
.pane.active user-choice accordion.panel-group .panel .panel-heading {
  background: #797979;
  border: none;
  color: #fff;
  border-radius: 0;
}
.pane.active user-choice accordion.panel-group .panel .panel-heading a.accordion-toggle {
  text-decoration: none;
  outline: none;
  font-size: 0.925em;
}
.pane.active user-choice accordion.panel-group .panel .panel-heading a.accordion-toggle:hover {
  text-decoration: none;
}
.pane.active user-choice accordion.panel-group .panel .panel-heading a.accordion-toggle [accordion-heading] {
  padding: 5px;
}
.pane.active feedback {
  border-left: 4px solid #89d762;
}
.alert-modal {
  margin: 0 auto;
  max-width: 450px;
}
.rightPanel-txt-content {
  margin: 20px;
  line-height: 1.5em;
}
endofroundfeedback .eor-feedback-content {
  width: 100%;
  position: relative;
}
endofroundfeedback .eor-feedback-content tabset ul.nav.nav-tabs {
  border: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: no-wrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
endofroundfeedback .eor-feedback-content tabset ul.nav.nav-tabs li {
  flex: 0 0 auto;
  white-space: normal;
  vertical-align: top;
  max-width: 300px;
}
endofroundfeedback .eor-feedback-content tabset ul.nav.nav-tabs .nav-link {
  color: #333;
  max-width: 230px;
  font-size: 14px;
  padding: 2rem;
  border-top: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
  border-left: none;
  border-bottom: none;
  background: #fff;
  margin: 0;
  border-radius: 0;
  height: 8rem;
  position: relative;
  overflow: hidden;
}
endofroundfeedback .eor-feedback-content tabset ul.nav.nav-tabs .nav-link span {
  z-index: 1;
  position: relative;
}
endofroundfeedback .eor-feedback-content tabset ul.nav.nav-tabs .nav-link:after {
  content: '\f111';
  font-family: FontAwesome;
  font-size: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  color: rgba(242,242,242,0);
  z-index: 0;
  transition: color 0.3s ease-out, font-size 0.3s ease-out;
}
endofroundfeedback .eor-feedback-content tabset ul.nav.nav-tabs .nav-link.active {
  color: #6c3;
  font-weight: bold;
}
endofroundfeedback .eor-feedback-content tabset ul.nav.nav-tabs .nav-link.active:after {
  font-size: 270px;
  color: #f2f2f2;
}
endofroundfeedback .eor-feedback-content .tab-content {
  width: 100%;
  height: calc(100vh - 245px);
  padding: 5px 20px 40px 20px;
  overflow-y: scroll;
  background: #f2f2f2;
  border-top: 5px solid #f2f2f2;
}
endofroundfeedback .eor-feedback-content .tab-content .tab-content {
  width: 100%;
}
endofroundfeedback .gauge-container {
  height: 100%;
}
.feedback-text {
  margin-top: 15px;
  padding-bottom: 7rem;
  overflow: hidden;
}
.tutorials-expansion .carousel-indicators {
  display: none;
}
.single-select .carousel-indicators {
  display: none;
}
.planning-tool-content .carousel {
  height: 100%;
}
.planning-tool-content .carousel-indicators {
  display: none;
}
.planning-tool-content .carousel-inner {
  height: 100%;
  width: calc(100% - 30px);
  margin: 5px auto 15px auto;
}
.planning-tool-content .carousel-item {
  top: 0;
}
.planning-tool-content .carousel-control {
  background-image: none;
  width: 15px;
  cursor: pointer;
  margin: 30px 0 0 0;
  bottom: inherit;
}
.planning-tool-content .carousel-control span {
  font-family: 'wib-icomoon';
}
.planning-tool-content .carousel-control span:before {
  color: #0ab9f0;
  font-size: 1.5rem;
}
.planning-tool-content .carousel-inner .planning-tool-metric .metric {
  overflow: hidden;
  height: 75px;
}
.planning-tool-content .carousel-inner .planning-tool-metric .metric-title {
  height: 3.5em;
  overflow: hidden;
}
.planning-tool-content .carousel-inner .planning-tool-metric .metric-cont {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  justify-content: center;
}
.planning-tool-content .carousel-inner .planning-tool-metric .metric-values .metric-noSeparator .metric-currValue {
  font-size: 15px;
  font-weight: 500;
}
.planning-tool-content .carousel-control.left {
  text-align: left;
}
.planning-tool-content .carousel-control.left span:before {
  content: "\e91c";
}
.planning-tool-content .carousel-control.right {
  text-align: right;
}
.planning-tool-content .carousel-control.right span:before {
  content: "\e91b";
}
.planning-tool-content .carousel .metric-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
}
@media screen and (max-width: 1500px) {
  .planning-tool-content .carousel .metric-name {
    font-size: 13px;
    line-height: 1.1em;
  }
}
planning-tool .left-pane-ftes my-tooltip .tooltip-icon {
  position: absolute !important;
}
planning-tool .left-pane-ftes my-tooltip .tooltip-icon:before,
planning-tool .left-pane-ftes my-tooltip .tooltip-icon:hover:before {
  color: #333;
}
.planningTool {
  height: 100%;
  border-bottom: 4px solid #6c3;
  background-color: #fff;
  color: #797979;
}
.planningTool .eventBody {
  height: 100%;
}
.planningTool .eventBody .tab-container .tab-content {
  overflow: hidden;
  border: 4px solid #6c3;
  height: calc(100% - 60px);
  padding: 10px;
}
.planningTool .eventBody .tab-container .tab-content .content-div {
  height: calc(100vh - 169px);
  overflow: auto;
}
.planningTool .eventBody .tab-container .tab-content .content-div .cell {
  padding: 5px;
}
.planningTool .eventBody .tab-container .nav-tabs {
  background: #29304a;
  border-bottom: none;
  padding-right: 110px;
  display: flex;
}
.planningTool .eventBody .tab-container .nav-tabs :first-child:nth-last-child(1):after {
  font-size: 1800px !important;
}
.planningTool .eventBody .tab-container .nav-tabs .nav-item:first-child:nth-last-child(2):after,
.planningTool .eventBody .tab-container .nav-tabs .nav-item:first-child:nth-last-child(2) ~ .nav-item:after {
  font-size: 1200px !important;
}
.planningTool .eventBody .tab-container .nav-tabs .nav-item {
  background: #797979;
  padding: 0;
  text-align: center;
  height: 60px;
  border-right: 2px solid #29304a;
  width: 25%;
  margin: 0;
  flex: 1;
  flex-grow: 1;
  z-index: 1;
  overflow: hidden;
}
.planningTool .eventBody .tab-container .nav-tabs .nav-item:after {
  content: '\f111';
  font-family: FontAwesome;
  font-size: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  color: rgba(102,204,51,0);
  z-index: -1;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in, left 0.3s ease-in;
}
.planningTool .eventBody .tab-container .nav-tabs .nav-item .nav-link {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #fff;
  line-height: 2.5rem;
  font-size: 16px;
  background-color: transparent;
}
.planningTool .eventBody .tab-container .nav-tabs .nav-item.active:after {
  font-size: 580px;
  color: #6c3;
  left: -5px;
}
ism-calc-output {
  padding: 5px;
  text-align: right;
  width: 100%;
}
.tips {
  background: #29304a;
  color: #fff;
  height: 100%;
  padding: 50px;
  font-size: 16px;
}
.row-tooltip {
  float: left;
  height: 25px;
}
.callOutBox {
  background-color: transparent;
  color: #fff;
  margin: 2rem;
  width: calc(100% - 4rem);
}
.callOutBox .callOutBoxContent {
  background-color: #797979;
  padding: 1rem 0;
  overflow: hidden;
}
.content-row {
  clear: both;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.btn-primary:hover {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.btn-primary ism-text-output,
.btn-primary button {
  background: #09b8ef;
  border-color: #09b8ef;
  border-radius: 5px;
  padding: 1em;
  display: block;
  transition: background cubic-bezier(0, 0, 0, 0.99) 0.7s;
}
.btn-primary ism-text-output:hover,
.btn-primary button:hover {
  background: #006eb9;
}
.button-container {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
button.btn {
  display: block;
  background: #09b8ef;
  border-color: #09b8ef;
  border-radius: 5px;
  padding: 1em;
  transition: background cubic-bezier(0, 0, 0, 0.99) 0.7s;
}
button.btn:hover {
  background: #006eb9;
  padding: 1em;
}
button.btn-danger {
  background: #fb054b;
  border-color: #fb054b;
}
button.btn-danger:hover {
  background: #b60839;
}
.btn-alert-txt {
  font-weight: 600;
  font-size: 1.6rem;
  display: block;
  text-align: left;
  color: #6d747e;
}
.btn-details-txt {
  font-weight: 400;
  font-sizes: 1.4rem;
  display: block;
  text-align: left;
  color: #6d747e;
}
.impact-heading {
  color: #f07300;
  font-weight: 500;
  display: block;
}
.delay-1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}
.delay-3 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
.delay-4 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}
.delay-5 {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}
.tab-pane-value h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 20px 0;
  text-align: center;
  color: #6d747e;
}
.animated.flipReverse {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flipReverse;
  animation-name: flipReverse;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
.animated.flipSimple {
  animation-name: flipSimple !important;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
.animated.customFlipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: customFlipOutY;
  animation-name: customFlipOutY;
}
/* no ui slider */
.noUi-target {
  box-shadow: none;
  border: none;
  background-color: #bec0c1;
}
.noUi-target.noUi-horizontal {
  height: 1px;
}
.noUi-target.noUi-vertical {
  width: 1px;
}
.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background: #f07300;
  width: 28px;
  height: 28px;
  left: -14px;
  top: -14px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 0.625em;
}
.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
  display: none;
}
.noUi-pips {
  height: 30px;
  padding: 0;
}
.noUi-marker-horizontal.noUi-marker-normal,
.noUi-marker-vertical.noUi-marker-normal {
  display: none;
}
.noUi-marker-horizontal.noUi-marker-large,
.noUi-marker-vertical.noUi-marker-large {
  height: 10px;
  top: -5px;
}
.noUi-marker-horizontal.noUi-marker-sub,
.noUi-marker-vertical.noUi-marker-sub {
  height: 6px;
  top: -3px;
  width: 1px;
  background: #e1e2e3;
}
.noUi-value-horizontal.noUi-value-sub,
.noUi-value-vertical.noUi-value-sub,
.noUi-value-horizontal.noUi-value-large,
.noUi-value-vertical.noUi-value-large {
  padding-top: 8px;
  font-size: 10px;
  color: #999;
}
.registration-wrapper ism-calc-input input {
  width: 100%;
  text-align: left;
  max-width: 450px;
  margin: 0 auto;
}
goal-setting .noUi-value-large,
goal-setting .noUi-value-sub {
  display: none;
}
goal-setting .noUi-pips {
  height: 15px;
}
tooltip-container {
  position: relative;
}
.tooltip-inner {
  background-color: #505967;
  padding: 20px 50px;
  max-width: 400px;
  min-width: 400px;
}
.top.tooltip .tooltip-arrow {
  border-top-color: #505967;
}
.left.tooltip .tooltip-arrow {
  border-left-color: #505967;
}
.bottom.tooltip .tooltip-arrow {
  border-bottom-color: #505967;
}
.right.tooltip .tooltip-arrow {
  border-right-color: #505967;
}
.col-xs-12 {
  padding: 0;
}
.cell {
  font-size: 1.4rem;
  padding: 3px 5px;
}
.row-title {
  font-size: 1.6rem;
}
#feedback-charttopper table {
  table-layout: fixed;
}
@media (max-width: 1025px) {
  h3 {
    font-size: 2rem;
    line-height: 1.2em;
  }
  h4 {
    font-size: 1.6rem;
    line-height: 1.2em;
  }
  .cell {
    font-size: 1.3rem;
  }
}
/* Component Styles */
ism-calc-input span {
  width: 100%;
  display: block;
  height: 100%;
}
ism-calc-input input {
  color: #000;
  background-color: #ebebeb;
  padding-left: 8px;
  border: none;
  height: 100%;
  font-size: 16px;
  width: 100%;
  border-radius: 0;
  height: 30px;
}
ism-calc-input input,
ism-calc-input input:focus {
  outline: none;
}
ism-calc-input :host-context(.planningTool) input {
  background-color: #009aa6;
  color: #fff;
}
ism-calc-input :host-context(.planningTool) input:active,
ism-calc-input :host-context(.planningTool) input:focus {
  background-color: #37dee7;
}
ism-calc-input :host-context(.planningTool) input:hover {
  background-color: #009aa6;
}
ism-calc-checkbox input {
  width: 100%;
  margin: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
ism-calc-checkbox .checkbox-container {
  width: 25px;
  margin: 7px auto;
  position: relative;
}
ism-calc-checkbox .checkbox-container label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #6d6e70;
}
ism-calc-checkbox .checkbox-container label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 8px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
ism-calc-checkbox .checkbox-container label:hover::after {
  opacity: 0.5;
}
ism-calc-checkbox .checkbox-container input[type=checkbox]:checked + label:after {
  opacity: 1;
  border: 3px solid #00adee;
  border-top: none;
  border-right: none;
}
ism-calc-checkbox .checkbox-container input[type=checkbox]:checked + label {
  border: 1px solid #00adee;
}
ism-calc-dropdown ul li {
  list-style-type: none;
}
ism-calc-dropdown #single-button {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: left;
}
ism-calc-dropdown #single-button .btn .caret {
  position: absolute;
  right: 10px;
  top: 50%;
}
ism-calc-dropdown #single-button.sb-right {
  text-align: right;
}
ism-calc-dropdown #single-button.sb-right.btn .caret {
  position: absolute;
  left: 10px;
  top: 50%;
}
ism-calc-dropdown .btn-group.open #single-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
ism-calc-dropdown .btn-group.open .caret {
  border-bottom: 4px dashed;
  border-bottom: 4px solid 9;
  border-top: none;
}
ism-calc-dropdown .btn-group.dropdown {
  width: 100%;
}
ism-calc-dropdown .dropdown-menu {
  border-radius: 0;
  margin: 0;
  border: solid 1px #204d74;
  min-width: inherit;
  width: 100%;
}
ism-calc-dropdown .dropdown-menu li {
  margin: 0;
}
ism-calc-dropdown .dropdown-menu li:nth-child(even) {
  background: #f2f2f2;
}
ism-calc-dropdown .dropdown-menu li a {
  transition: background ease-out 0.3s, color ease-out 0.3s;
}
ism-calc-dropdown .dropdown-menu li a:hover {
  background: #204d74;
  color: #fff;
}
ism-calc-dropdown .dropdown-menu-right li {
  text-align: right;
}
ism-calc-slider {
  display: inline-block;
  width: 100%;
  padding: 15px 10px;
}
/*Custom EY Style*/
.highcharts-background {
  fill: transparent;
}
.highcharts-color-0 {
  fill: #fed304;
  stroke: #fed304;
}
.highcharts-color-1 {
  fill: #3e3e3f;
  stroke: #3e3e3f;
}
.highcharts-color-2 {
  fill: #6c6d70;
  stroke: #6c6d70;
}
.highcharts-color-3 {
  fill: #00a3bc;
  stroke: #00a3bc;
}
.highcharts-color-4 {
  fill: #90278e;
  stroke: #90278e;
}
.highcharts-color-5 {
  fill: #92c08e;
  stroke: #92c08e;
}
.hidden {
  display: none;
}
ism-calc-output {
  padding: 0;
}
.glide__arrow {
  border-radius: 50%;
  color: #fff;
  background-color: #808080;
  padding: 0;
  border: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
}
.glide__arrow--left {
  left: 15px;
}
.glide__arrow--right {
  right: 15px;
}
.glide__track {
  height: 350px;
}
.glide__slides {
  align-items: center;
}
.glide__slide {
  list-style: none;
  flex: 1;
}
.glide__slide stakeholder-card .information-container {
  display: none;
}
.glide__slide stakeholder-card .stakeholdercard-active {
  display: none;
}
.glide__slide stakeholder-card .stakeholdercard-inactive {
  display: block;
}
.glide__slide--active stakeholder-card .information-container {
  display: block;
}
.glide__slide--active stakeholder-card .stakeholdercard-active {
  display: block;
}
.glide__slide--active stakeholder-card .stakeholdercard-inactive {
  display: none;
}
.next-btn {
  position: absolute;
  bottom: 10px;
  right: 50px;
  z-index: 2;
  cursor: pointer;
  border: 3px solid #ffe600;
  padding: 10px;
}
.next-btn:hover {
  background-color: #ffe600;
  color: #000;
}
.first-half-header {
  height: 75px;
  line-height: 75px;
  border-bottom: 5px solid #c7c7c6;
  font-size: 3rem;
  font-weight: 500;
  padding: 0 15px;
  position: relative;
}
.first-half-header .progress-container {
  position: absolute;
  right: 50px;
  height: 100%;
}
.carousel {
  height: 100%;
  display: block;
}
.carousel.slide {
  height: 100%;
}
.carousel.slide .carousel-indicators {
  display: none;
}
.carousel.slide .carousel-control {
  width: 40px;
  height: 40px;
  top: 50%;
  bottom: initial;
  cursor: pointer;
  opacity: 1;
  margin: 0 15px;
  background-image: none;
}
.carousel.slide .carousel-control.disabled {
  cursor: default;
  display: none;
}
.carousel.slide .carousel-control .carousel-control-next-icon {
  background-image: url("../images/icons/right-arrow.png");
  opacity: 1;
  color: #000;
  text-shadow: none;
  font-size: 5rem;
  position: absolute;
  right: 50%;
  top: 0;
}
.carousel.slide .carousel-control .carousel-control-prev-icon {
  background-image: url("../images/icons/left-arrow.png");
  opacity: 1;
  color: #000;
  text-shadow: none;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 0;
}
.carousel.slide .carousel-inner {
  height: 100%;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
}
.carousel.slide .carousel-inner .carousel-item {
  height: 100%;
}
.carousel.slide .carousel-inner .item {
  height: 100%;
}
.teamname-textbox ism-calc-input input {
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}
.infoupdate-container .highlighted {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1697b6;
  line-height: 1.5rem;
}
user-profile .profile-post .bold {
  font-weight: 700;
}
user-profile .profile-post .bold:after {
  content: ' : ';
}
user-profile .profile-info ul li {
  list-style-type: none;
  margin: 15px;
  margin-right: 0;
  position: relative;
}
user-profile .profile-info ul li:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: 4px;
  left: -15px;
  border-color: transparent #1697b6;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
}
user-profile .profile-feedback ul li {
  list-style-type: none;
  margin: 15px;
  margin-right: 0;
}
user-profile .profile-feedback ul li {
  padding-top: 30px;
  border-top: 2px solid #1697b6;
}
/*Copied from EY TAS*/
.sml-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px 0;
  color: #333;
}
.sml-btn-container .sml-btn {
  padding: 10px 20px;
  display: inline-block;
  border: 3px solid #ffe600;
  background-color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.sml-btn-container .sml-btn:hover {
  background-color: #ffe600;
}
.sml-btn-container .sml-btn.disable {
  border-color: #c7c7c6;
  background-color: #c7c7c6;
  pointer-events: none;
}
.notifier-container {
  position: absolute;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  animation: upAnimation 0.8s;
  top: 0;
}
.introduction-container {
  height: 100%;
  position: relative;
  z-index: 1;
}
.menu-view-container {
  height: 100%;
}
.first-half-container {
  background-color: #fff;
  padding: 15px 0;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 5px solid #ececec;
}
.second-half-container {
  background-color: #ececec;
  padding: 20px 0 15px;
  position: relative;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
/* Modal */
.alert-icon {
  height: 50px;
  width: 50px;
}
.alert-icon img {
  height: 100%;
}
.modal.in .circle-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.modal.in .circle-modal .modal-content {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.8);
}
.modal.in .circle-modal .modal-header {
  border: none;
  text-align: center;
}
.modal.in .circle-modal .modal-body {
  color: #808080;
}
.modal.in .circle-modal .button-container,
.modal.in .circle-modal .modal-footer {
  display: block;
}
.modal.in .circle-modal .button-container .pill-button,
.modal.in .circle-modal .modal-footer .pill-button {
  display: block;
  margin: 5px auto;
  padding: 5px 35px;
  outline: none;
  background-color: transparent;
}
.modal.in .circle-modal .button-container .pill-button:hover,
.modal.in .circle-modal .modal-footer .pill-button:hover {
  background: #00a3ae;
  color: #fff;
}
/*Buttons*/
.pill-button {
  padding: 10px 35px;
  display: inline-block;
  background: #fff;
  color: #00a3ae;
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid #00a3ae;
  cursor: pointer;
}
.pill-button:hover {
  background: #00a3ae;
  color: #fff;
}
.vertical-line {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
body .leader-team-icon {
  display: inline-block;
}
body .follower-team-icon {
  display: none;
}
body .showForFollower {
  display: none !important;
}
body.follower user-profile .next-btn:not(.showForFollower),
body.follower planning-tool .next-btn:not(.showForFollower),
body.follower non-negotiables .next-btn:not(.showForFollower),
body.follower app-eor-feedback .next-btn:not(.showForFollower),
body.follower registration .next-btn:not(.showForFollower),
body.follower intro-text-component .next-btn:not(.showForFollower),
body.follower intro-email-component .next-btn:not(.showForFollower),
body.follower wavespace .next-btn:not(.showForFollower) {
  display: none !important;
}
body.follower .showForFollower {
  display: inline-block !important;
}
body.follower events .next-btn {
  pointer-events: none;
}
body.follower .stakeholdercard .card-container .card-button {
  display: none !important;
}
body.follower .alternative .radio-icon {
  display: none;
}
body.follower .accordian-title .radio-button {
  pointer-events: none;
}
body.follower .feedback-container .footer-button,
body.follower .sml-btn-container {
  display: none;
}
body.follower .draglist-wrapper,
body.follower .client-holder .pin-container .pin,
body.follower .newsflash-question .options .option,
body.follower .alternative-container .alternative,
body.follower .growtharea-section,
body.follower .wavespace-section {
  pointer-events: none;
}
body.follower .intro-text-content-el,
body.follower .email-content {
  border-bottom: none;
}
body.follower .pagedetails-bar .nav-menu .nav-link {
  pointer-events: none;
}
body.follower .leader-team-icon {
  display: none;
}
body.follower .follower-team-icon {
  display: inline-block;
}
@-moz-keyframes flipReverse {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@-webkit-keyframes flipReverse {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@-o-keyframes flipReverse {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes flipReverse {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@-moz-keyframes flipSimple {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@-webkit-keyframes flipSimple {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@-o-keyframes flipSimple {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes flipSimple {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}
@-moz-keyframes customFlipOutY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@-webkit-keyframes customFlipOutY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@-o-keyframes customFlipOutY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes customFlipOutY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@-moz-keyframes upAnimation {
  0% {
    opacity: 1;
    top: 35px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes upAnimation {
  0% {
    opacity: 1;
    top: 35px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-o-keyframes upAnimation {
  0% {
    opacity: 1;
    top: 35px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes upAnimation {
  0% {
    opacity: 1;
    top: 35px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
