
.button
    &--primary
        margin: auto;
        display: inline-block;
        padding: 14px 30px 16px;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        border-radius: 5px;
        border: 2px solid $primaryColor;
        max-height: 80px;
        background: $primaryColor;
        color: $white;
        cursor: pointer;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:hover
            background: $primaryColorHoverColor;
            border: 2px solid $primaryColorHoverColor;