
$white = #ffffff
$lightgrey = #ededed
$grey = #9d9d9d
$mediumgrey = #a8adb4
$darkgrey = #333333
$black = #000000

$primaryColor = #009ee0
$primaryColorHoverColor = lighten($primaryColor, 20)
$secondaryColor = #005fab
$navbarGradient = linear-gradient(#005fab -57%, #0af, #005fab 172%)
$optionGradient = linear-gradient(#fff -98%, $primaryColor)
$purple = #8B69AA

$box-shadow = 0 15px 30px 5px rgba(0 0 0 0.1%)