@font-face
    font-family 'AvenirLTPro-Black'
    src url('../fonts/AvenirLTPro-Black.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-BlackOblique'
    src url('../fonts/AvenirLTPro-BlackOblique.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-Book'
    src url('../fonts/AvenirLTPro-Book.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-BookOblique'
    src url('../fonts/AvenirLTPro-BookOblique.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-Heavy'
    src url('../fonts/AvenirLTPro-Heavy.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-HeavyOblique'
    src url('../fonts/AvenirLTPro-HeavyOblique.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-Light'
    src url('../fonts/AvenirLTPro-Light.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-LightOblique'
    src url('../fonts/AvenirLTPro-LightOblique.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-Medium'
    src url('../fonts/AvenirLTPro-Medium.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-MediumOblique'
    src url('../fonts/AvenirLTPro-MediumOblique.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-Oblique'
    src url('../fonts/AvenirLTPro-Oblique.otf') format('truetype')
    font-style normal

@font-face
    font-family 'AvenirLTPro-Roman'
    src url('../fonts/AvenirLTPro-Roman.otf') format('truetype')
    font-style normal

