@import './config.styl';

$font-family = $corefont
$font-weight = 400

$title-font-color = $neutral3
$title-font-size = 1em  

$data-label-color = $neutral3
$data-label-font-size = 1.1em

$axis-labels-color = $neutral3
$axis-labels-font-size = 1em

$legend-font-color = $neutral3
$legend-font-size = 0.9em

.highcharts-color-0
  fill #3D6213
  stroke #3D6213

.highcharts-color-1
  fill #0998C8
  stroke #0998C8

.highcharts-color-2
  fill #FFC300
  stroke #FFC300

.highcharts-color-3
  fill #cc1d43
  stroke #cc1d43

.highcharts-color-4
  fill #28324b
  stroke #28324b

.highcharts-color-5
  fill #F07300
  stroke #F07300

.highcharts-color-6
  fill #0AB9F0
  stroke #0AB9F0

.highcharts-color-7
  fill #80CC28
  stroke #80CC28

.highcharts-color-8
  fill #055A76
  stroke #055A76

.highcharts-color-9
  fill #9B4900
  stroke #9B4900

.highcharts-color-10
  fill #68A921
  stroke #68A921

.highcharts-color-11
  fill #69261b
  stroke #69261b

.highcharts-color-12
  fill #ff5050
  stroke #ff5050

.highcharts-container
    font-family $font-family
    font-size 12px

.highcharts-background
  fill transparent
  stroke transparent

// .highcharts-title
//     fill $title-font-color
//     font-size $title-font-size
//     font-weight $font-weight

.highcharts-data-label
    font-weight 800

// .highcharts-data-label text, text.highcharts-data-label
//     fill $data-label-color

// .highcharts-axis-labels
//     fill $axis-labels-color
//     font-size $axis-labels-font-size

// .highcharts-legend-item text
//     fill $legend-font-color
//     font-weight $font-weight
//     font-size $legend-font-size