
/* default colors */

$primary = #1C3A62
$secondary = #00C1F3 /* */

$alt-color = #236192 /* */

$primary-10 = rgba($primary, .10)

$accent01 = #032e61
$accent02 = #3B2E58
$accent03 = #8661C5
$accent04 = #008575
$accent05 = #274B47
$accent06 = #032e61 /* */
$accent07 = #c61c52
$accent08 = #d63f20
$accent09 = #D83B01

$gray100 = #000000
$gray80 = rgba($gray100, 80%)
$gray70 = rgba($gray100, 70%)
$gray50 = rgba($gray100, 50%)
$gray30 = rgba($gray100, 30%)
$gray10 = rgba($gray100, 10%)
$gray05 = rgba($gray100, 5%)

$almostWhite = #f8f9fa
$primaryDarkened = darken($primary, 40%)


$background = rgba(255,255,255,0.5)
$black = #000
$white = #FFF

$white70 = rgba(255,255,255,0.7)
$white50 = rgba(255,255,255,0.5)
$white30 = rgba(255,255,255,0.3)
$white10 = rgba(255,255,255,0.1)

$shareHolderMetric = #eab85c
$eventColor = #F9BA00
$eventColorViewed = #F1DFA7
$opportunityColor = #EE3224
$opportunityColorViewed = #EEB6B1
$infoupdateColor = #00A9D4
$infoupdateColorViewed = #A8DAE5
$focusgroupColor = #88b917
$focusgroupColorViewed = #D0DEAD
$pinViewedBackground = #aaa;
$pinBackground = #293449
$successColor = #476437
$dangerColor = #cf4b14

$primeColor = #006EB9
$secondaryColor = #F2D13A
$darkBrandColor = #006EB9

$neutral1 = #F2F2F2
$neutral2 = #A8ADB4
$neutral3 = #6D747E
$neutral4 = #434951





$red = #f20033
$lightyellow = #ffe86e
/* vars */
$bodyFontSize = 16px
$bodyMobileFontSize = 12px
$bodyZoomFontSize = 10px
$headerBarHeight = 55px
$dashboardMinHeight = 174px
$headerBarMobileHeight = 40px


$corefont = 'OpenSans'

$fontSize24 = 24px
$fontSize21 = 21px
$fontSize20 = 20px
$fontSize18 = 18px
$fontSize16 = 16px
$fontSize14 = 14px
$fontSize12 = 12px

/* Table */
$navyblue = #28324B


/* gradients */
$primeGradient = $darkBrandColor
$whiteGradient = linear-gradient(to bottom, $gray05 0%, #ffffff 25%)

$emailNotificationGradient = linear-gradient(rgb(10, 185, 240), rgb(4, 142, 217));
$callNotificationGradient = linear-gradient(rgb(0, 110, 185), rgb(40, 50, 75));
$decisionNotificationGradient = linear-gradient(rgb(128, 204, 40), rgb(100, 162, 32));

/*content window sizes */
$smallWindow = 450px
$largeWindow = 800px
$mobileWindow = calc(100vw - 20px)
$mobileIntroComponentHeight = calc(100% - 95px)
$mobileTabWindowHeight = calc(100% - 230px)

$radiusSmall = 0
$radiusMedium = 0
$radiusLarge = 0

$feedbackTitleColor = rgb(10, 185, 240)
$modalbackgroundColor = rgba(246, 246, 246, 0.95)

$modalHeightIntro = calc(100% - 85px)
$modalHeightIntroMobile = calc(100% - 100px)
$modalHeightMetrics = calc(100%- 155px)

$dt-maxheight = calc(100% - 80px)
$ctheightWtimage = calc(100% - 351px)
$ctheightWoimage = calc(100% - 40px)

$viewMoreEnglish = "Click to view more "
$viewMoreSpanish = "Haga clic para ver más "
$viewMoreGerman = "Klicken Sie hier, um mehr zu sehen "
$viewMorePortuguese = "Clique para ver mais "
$viewMoreItalian = "Clicca per vedere di più "
$viewMoreFrench = "Cliquez pour voir plus "
$viewMoreChinese = "点击查看更多 "
$viewMoreJapanese = "クリックして詳細を表示 "
$viewMoreRussian = "Нажмите, чтобы просмотреть больше "