.data-table {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 20px 0;
}
.data-row {
  display: table-row;
}
.data-row:nth-child(2n+2) {
  background-color: #f2f2f2;
}
.data-row-header {
  display: table-cell;
  font-weight: bold;
  text-align: center;
  color: $blue2;
  padding: 5px;
}
.data-row-data {
  display: table-cell;
  text-align: center;
  padding: 5px;
}
.data-row-header:nth-child(1) {
  text-align: left;
}
