@import 'font-awesome.min.css'

/* typography */
@font-face
    font-family 'OpenSans-Bold'
    src url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype')

@font-face
    font-family 'OpenSans-BoldItalic'
    src url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype')

@font-face
    font-family 'OpenSans-ExtraBold'
    src url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype')

@font-face
    font-family 'OpenSans-ExtraBoldItalic'
    src url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype')

@font-face
    font-family 'OpenSans-Italic'
    src url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype')

@font-face
    font-family 'OpenSans-Light'
    src url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype')

@font-face
    font-family 'OpenSans-LightItalic'
    src url('../fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype')

@font-face
    font-family 'OpenSans'
    src url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype')

@font-face
    font-family 'OpenSans-SemiBold'
    src url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype')

@font-face
    font-family 'OpenSans-SemiBoldItalic'
    src url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf') format('truetype')

// Fira Sans
@font-face
    font-family 'FiraSans-Bold'
    src url('../fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype')

@font-face
    font-family 'FiraSans-BoldItalic'
    src url('../fonts/Fira_Sans/FiraSans-BoldItalic.ttf') format('truetype')

@font-face
    font-family 'FiraSans-Italic'
    src url('../fonts/Fira_Sans/FiraSans-Italic.ttf') format('truetype')

@font-face
    font-family 'FiraSans-Light'
    src url('../fonts/Fira_Sans/FiraSans-Light.ttf') format('truetype')

@font-face
    font-family 'FiraSans-LightItalic'
    src url('../fonts/Fira_Sans/FiraSans-LightItalic.ttf') format('truetype')

@font-face
    font-family 'FiraSans'
    src url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype')

@font-face
    font-family 'FiraSans-SemiBold'
    src url('../fonts/Fira_Sans/FiraSans-SemiBold.ttf') format('truetype')

@font-face
    font-family 'FiraSans-SemiBoldItalic'
    src url('../fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf') format('truetype')