.info-button
    border-radius 25px
    background $color-primary-Dark
    color $white
    border none
    padding 0.3rem 0.7rem 0.3rem 0.7rem
    font-size 15px
    margin-left: 10px;
    &:focus
        outline 2px dotted $color-secondary
    &:hover
        background $gradient-primary-hover