/* momenta colors */

$primary = rgba(0,32,100,1)
$primary30 = rgba($primary,0.3)

$secondary = rgba(230,4,121,1)
$secondary30 = rgba($secondary,0.3)

// Grey - neutrals -----------------------------
$grey = rgba(40,50,75,1)
$grey70 = rgba($grey,0.7)
$grey50 = rgba($grey,0.5)
$grey30 = rgba($grey,0.3)
$grey10 = rgba($grey,0.1)
$grey05 = rgba($grey,0.05)

// Accent Colors -------------------------------
$accent-a = rgba(0,122,92,1)
$accent-a30 = rgba($accent-a,0.3)

$accent-b = rgba(0,131,143,1)
$accent-b30 = rgba($accent-b,0.3)

$accent-c = rgba(0,91,184,1)
$accent-c30 = rgba($accent-c,0.3)

$accent-d = rgba(73,54,168,1)
$accent-d30 = rgba($accent-d,0.3)

$accent-e = rgba(116,32,142,1)
$accent-e30 = rgba($accent-e,0.3)

$accent-f = rgba(173,14,131,1)
$accent-f30 = rgba($accent-f,0.3)

$accent-g = rgba(198,28,82,1)
$accent-g30 = rgba($accent-g,0.3)

$accent-h = rgba(214,63,32,1)
$accent-h30 = rgba($accent-h,0.3)

// Status Colors -------------------------------
$information = rgba(54,101,243,1)
$information05 = rgba($information,0.05)

$confirmation = rgba(5,130,63,1)
$confirmation05 = rgba($confirmation,0.05)

$attention = rgba(233,2,2,1)
$attention05 = rgba($attention,0.05)

// Colors on Dark Background -------------------
$contrast-1 = rgba(131,159,255,1)
$contrast-2 = rgba(81,224,255,1)
$contrast-3 = rgba(22,178,171,1)
$contrast-4 = rgba(114,191,68,1)
$contrast-5 = rgba(232,205,65,1)

// Infographics Colors -------------------------
$infographic-1 = rgba(0,32,100,1)
$infographic-2 = rgba(180,31,108,1)
$infographic-3 = rgba(255,124,46,1)
$infographic-4 = rgba(80,34,113,1)
$infographic-5 = rgba(217,51,93,1)
$infographic-6 = rgba(255,166,0,1) /* Color not accessible */
$infographic-7 = rgba(134,30,116,1)
$infographic-8 = rgba(243,84,72,1)

// ---------------------------------------------
$black = #000000
$white = #FFFFFF

$white70 = rgba(255,255,255,0.7)
$white50 = rgba(255,255,255,0.5)
$white30 = rgba(255,255,255,0.3)
$white20 = rgba(255,255,255,0.2)
$white10 = rgba(255,255,255,0.1)

/* Box shadow */
$shadow1 = 0 3px 12px 0px rgba(0,0,0,0.05)
$shadow2 = 0 5px 12px 0px rgba(0,0,0,0.10)
$shadow3 = 0 12px 24px 0px rgba(0,0,0,0.15)
$shadow4 = 0 0 12px 0px rgba(0,0,0,0.10)

/* ====================================================================================== */

/* old colors */
$primaryColor = rgba(10, 185, 240, 1)
$primaryColorHoverColor = lighten($primaryColor, 20)
$secondaryColor = #80CC28
$tertiaryColor = #A8ADB4
$dodgerblue3 = #1874CD

$neutral1 = #F2F2F2
$neutral2 = #A8ADB4
$neutral3 = #6D747E
$neutral4 = #434951

$btsred = #FF2452
$btsnavy = #28324B

$highlight1 = #F07300
$highlight2 = #FFC300

$metricPositive = #00873C
$metricNegative = #FF0D21

$panelBG = rgba(255,255,255,.9)
$modalBG = rgba(255,255,255,.80)
$primaryGradient = linear-gradient(to right, $primaryColor, darken($primaryColor, 15%))

/* extra colors */
$buttonGradient = linear-gradient($primaryColor, darken($primaryColor, 20%))
$activeGradient = linear-gradient(to right, rgba(195, 43, 61, 1), rgba(211, 0, 0, 1))
$linkActive = darken($primaryColor, 30%)


/* Box shadow */    
$box-shadow1 = 0 0px 2px 1px rgba(0,0,0,0.2)

$main-color = #00a272
$highlight-color1 = #005944 /* dark green */
$highlight-color2 = #e97300 /* orange */
$highlight-color3 = #044DA2 /* dark blue */
$highlight-color4 = #27DAFF /* light blue */
$highlight-color5 = #E83200 /* dark orange */
$gray1 = $neutral1
$gray2 = $neutral2
$gray3 = $neutral3
$gray4 = $neutral4
$chart-color0 = #F07300
$chart-color1 = #80CC28
$chart-color2 = #006EB9
$chart-color3 = #FF409C
$chart-color4 = #FFC300
$chart-color5 = #00873C
$chart-color6 = #28324B
$chart-color7 = #ee7423
$chart-color8 = #FB054B
$chart-color9 = #BEC0C1

//Initiative categories
$InitiatitiveCategoryColor0 = #002064
$InitiatitiveCategoryColor1 = #E60479
$InitiatitiveCategoryColor2 = #007A5C
$InitiatitiveCategoryColor3 = #D63F20
$InitiatitiveCategoryColor4 = #00838F
$InitiatitiveCategoryColor5 = #AD0E83
$InitiatitiveCategoryColor6 = #005BB7
$InitiatitiveCategoryColor7 = #C61C52
$InitiatitiveCategoryColor8 = #4936A8

$backgroundGradient =  linear-gradient(to bottom, rgba($white,1) 0%, rgba($white,0.99) 20%, rgba($white,0.8) 100%)
$paneGradient =  linear-gradient(0deg, rgba(#e0e0e0,1) 0%, rgba($white,1) 100%)


// ---------------------------------------


/*Neutrals*/
$white = #ffffff
$mediumgrey = #868789
$darkgrey = #1e1e1e
$black = #333333

/*Neutrals-additional*/
$lightgrey = #efefef
$lightgrey1 = #dfe1df
$grey = #CFD1D0

/*Primary color and shades*/
$color-primary = #8af7b6 
$color-primary-Light = #4bd9bc
$color-primary-Dark = #00b5c3

/*Secondary color and shades*/
$color-secondary = #d30f4b
$color-secondary-Dark = #74224B
$color-secondary-Light = #FE41A5
/*Tertiary colors*/
$turquoise = #16B2AB
$steelblue = #727FAE
$green = #72BF44
$red = #F00A3C
$orange = #F07300
$yellow =#E8CD41
$dashboarGauge= #1ea57c


$Excipients = #e8cd41
$Solvent = #0AB9F0
$Raw_material = #28324B
$Packaging-Betia = #697AD3
$Packaging-GB = #A7B4F7
$Active_Ingredients = #B8741A


$font-dark = #555555

$gradient-primary = linear-gradient(252deg, #8af7b6 0%, #00b5c3 100%)
$gradient-primary-hover = linear-gradient(252deg, #8af7b6 -12%, #00b5c3 59%)
$gradient-secondary = linear-gradient(180deg, #d30f4b 0%, #74224B 100%)
$gradient-secondary1 = linear-gradient(150deg, #d30f4b 0%, #3e0f26 100%)
$gradient-grey = linear-gradient(89deg, #cfd1d0 0%, #868789 100%)
$gradient-grey1 = linear-gradient(89deg, #868789 0%, #cfd1d0 100%)
$metricPositive = linear-gradient(150deg, #8af7b6 0%, #00b5c3 100%)
$planningGraphs = #f2f2f230
$background-blur = #ffffff82

$shadow = 1rem 1rem 3rem -0.5rem rgba(0, 0, 0, 0.4)




