body:not(.follower)
    .show-for-follower
        display: none !important
body.follower
    .hide-for-follower
        display: none !important
    app-quiz-single-select .choice,
    single-select .choiceBackground
    isma-calc-stepper,
    isma-calc-checkbox,
    isma-toggle-slider
        pointer-events: none