@import url('./font-awesome.min.css')
@import "./fonts"
@import "./icons"
@import "./charts"


animation-delay(delay)
    -webkit-animation-delay delay
    -moz-animation-delay delay
    -ms-animation-delay delay
    animation-delay delay


html, body
    min-height 100%
body
    background url("../images/splash.jpg") no-repeat top left
    color #fff
    overflow hidden
    background-size cover
    font-size 16px
    font-family "OpenSans"
    line-height 20px
h3
    font-size 2.4rem
    line-height 3rem
h4
    font-size 1.8rem
    line-height 2rem
    color #34446b
.btn
    border-radius 0

.txt-right
    text-align right

.txt-center
    text-align center

ul
ol
    padding-left 0

li
    list-style-type disc
    list-style-position outside
    margin-left 1.5em

.modal-lg
    width 1004px;

.modal
    color #000

.fa
    font-family inherit
    &:before
        font-family FontAwesome

.bottom-border
    border-bottom 1px solid #b8b8b8 !important
    overflow hidden

.bottom-border--dark
    border-bottom 1px solid #6d747e !important
    overflow hidden

.right-border
    border-right 1px solid #b8b8b8 !important
    overflow hidden

.pane
    &.active
        position absolute
        display block
        top 78px
        height calc(100vh - 78px)
        margin 0
        padding 0
        right 0
        &^[0]--messages
            top 139px
            height calc(100vh - 139px)
        feedback, info, user-choice
            position absolute
            display block
            top 0
            height calc(100vh - 150px)
            padding 0
            z-index 10
            top 13px
            .animated
                padding 0
                /* .info-closeTop
                    &:before
                        content "\F00D"*/
                .feedback-close
                    margin 10px 0 0 0
                    border solid 2px #fff
                    right 10px
                    padding-top .5rem
        planning-tool, tutorials, resources, endofroundfeedback
            position absolute
            display block
            left 0
            width 100%
            height calc(100vh - 78px)
            padding 0
            z-index 15

        user-choice
            overflow-y auto
            .animated
                height initial
                border-left 4px solid #005293
                background-color #09b8ef
            accordion
                &.panel-group
                    .panel
                        border none
                        box-shadow none
                        border-radius 0
                        margin-bottom 2px
                        .panel-heading
                            background #797979
                            border none
                            color #fff
                            border-radius 0
                            a.accordion-toggle
                                text-decoration none
                                outline none
                                font-size 0.925em
                                &:hover
                                    text-decoration none
                                [accordion-heading]
                                    padding 5px
        feedback
            border-left 4px solid #005293

.alert-modal
    margin 0 auto
    max-width 450px

.rightPanel-txt-content
    margin 20px
    line-height 1.5em

endofroundfeedback
    .eor-feedback-content
        width 100%
        position relative
        tabset
            ul.nav.nav-tabs
                border none
                overflow-x auto
                overflow-y hidden
                white-space nowrap
                display flex
                flex-wrap no-wrap
                -webkit-overflow-scrolling touch
                -ms-overflow-style -ms-autohiding-scrollbar
                li
                    flex 0 0 auto
                    white-space normal
                    vertical-align top
                    max-width 300px
                .nav-link
                    color #333
                    max-width 230px
                    font-size 14px
                    padding 2rem
                    border-top 5px solid #f2f2f2
                    border-right 5px solid #f2f2f2
                    border-left none
                    border-bottom none
                    background #fff
                    margin 0
                    border-radius 0
                    height 8rem
                    position relative
                    overflow hidden
                    span
                        z-index 1
                        position relative
                    &:after
                        content '\f111'
                        font-family FontAwesome
                        font-size 1px
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 80px
                        line-height 80px
                        vertical-align middle
                        text-align center
                        color rgba(242,242,242,0)
                        z-index 0
                        transition color .3s ease-out, font-size .3s ease-out
                    &.active
                        color #005293
                        font-weight bold
                        &:after
                            font-size 270px
                            color rgba(242,242,242,1)
        .tab-content
            width 100%
            height calc(100vh - 245px)
            padding 5px 20px 40px 20px
            overflow-y scroll
            background #f2f2f2
            border-top: 5px solid #f2f2f2
            .tab-content
                width 100%
    .gauge-container
        height 100%

.feedback
    &-text
        margin-top 15px
        padding-bottom 10rem
        overflow hidden

tutorial-content
    .carousel-indicators
        li
            border 1px solid #00000080
        .active
            background-color: #00000080
    .carousel-control.right
        cursor pointer
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.75) 100%);
    .carousel-control.left
        cursor pointer
        background-image: linear-gradient(to right,rgba(0,0,0,.75) 0,rgba(0,0,0,.0001) 100%);
    .carousel-control .icon-next, .carousel-control .icon-prev
        margin-top: -50px
        font-size 100px

.tutorials-expansion
    .carousel-indicators
        display none

.single-select
    .carousel-indicators
        display none

.planning-tool-content
    .carousel
        height 100%
        &-indicators
            display none

        &-inner
            height 100%
            width: calc(100% - 30px);
            margin 5px auto 15px auto
        &-item
            top 0

        &-control
            background-image none
            width 15px
            cursor pointer
            margin 30px 0 0 0
            bottom inherit
            span
                font-family 'wib-icomoon'
                &:before
                    color #0ab9f0
                    font-size 1.5rem
        &-inner
            .planning-tool-metric
                .metric
                    overflow hidden
                    height 75px
                    &-title
                        height 3.5em
                        overflow hidden
                    &-cont
                        margin-top 2px
                        margin-bottom 2px
                        font-size 16px
                        font-weight 500
                        line-height 18px
                        display flex
                        justify-content center
                    &-values
                        .metric-noSeparator
                            .metric-currValue
                                font-size 15px
                                font-weight 500

        &-control.left
            text-align left
            span:before
                content "\e91c"
        &-control.right
            text-align right
            span:before
                content "\e91b"

        .metric-name
            font-size 15px
            line-height 18px
            font-weight normal
            @media screen and (max-width 1500px)
                font-size 13px
                line-height 1.1em

planning-tool
    .left-pane-ftes my-tooltip
        .tooltip-icon
            position absolute !important
            &:before, &:hover:before
                color #333

.planningTool
    height 100%
    border-bottom 4px solid #005293
    background-color #ffffff
    color #797979
    .eventBody
        height 100%
        .tab-container
            .tab-content
                overflow hidden
                border 4px solid #FFF
                height calc(100% - 60px)
                padding 10px
                .content-div
                    height calc(100vh - 169px)
                    overflow auto
                    .cell
                        padding 5px;

            .nav-tabs
                background #005293
                border-bottom none
                padding-right 110px
                display flex
                :first-child:nth-last-child(1)
                    &:after
                        font-size 1800px !important
                .nav-item:first-child:nth-last-child(2),
                .nav-item:first-child:nth-last-child(2) ~ .nav-item
                     &:after
                        font-size 1200px !important
                .nav-item
                    background #ffffff
                    padding 0
                    text-align center
                    height 60px
                    border-bottom 4px solid #ccc
                    width 25%
                    margin 0
                    flex 1
                    flex-grow 1
                    z-index 1
                    overflow hidden
                    transition border .3s ease-in-out
                    .nav-link
                        position relative
                        top 50%
                        transform translateY(-50%)
                        border none
                        color #000
                        line-height 2.5rem
                        font-size 16px
                        background-color transparent
                        border-right: 1px solid #ccc;
                    &:last-child
                        .nav-link
                            border-right: 0
                .nav-item.active
                    border-bottom 4px solid #005293
                    font-weight: 500
ism-calc-output
    padding 5px
    text-align right
    width 100%

.tips
    // background #29304a
    color #fff
    height 100%
    padding 50px
    font-size 16px

.row-tooltip
    // float left
    height 25px
    display inline-block

.callOutBox
    background-color transparent
    color #000
    margin 2rem
    width calc(100% - 4rem)
    .callOutBoxContent
        background-color #ccc
        padding 1rem 0
        overflow hidden

.content-row
    clear both

.center
    text-align center
    margin-left auto
    margin-right auto

.btn
    &-primary
        margin 0
        padding 0
        border none
        background none
        &:hover
            margin 0
            padding 0
            border none
            background none
    &-primary ism-text-output
    &-primary button
        background #005293
        border-color #005293
        border-radius 5px
        padding 1em
        display block
        transition background cubic-bezier(0, 0, 0, 0.99) .7s
        &:hover
            background darken(#005293, 20%)

.button-container
    padding 10px
    text-align center
    display flex
    justify-content space-around

button.btn
    display block
    background #005293
    border-color #005293
    border-radius 5px
    padding 1em
    transition background cubic-bezier(0, 0, 0, 0.99) .7s
    &:hover
        background #006eb9
        padding 1em

.btn
    &-danger
        margin 0
        padding 0
        border none
        background none
        &:hover
            margin 0
            padding 0
            border none
            background none
    &-danger ism-text-output
    &-danger button
        background #fb054b
        border-color #fb054b
        border-radius 5px
        padding 1em
        display block
        transition background cubic-bezier(0, 0, 0, 0.99) .7s
        &:hover
            background darken(#fb054b, 20%)

.btn-alert-txt
    font-weight 600
    font-size 1.6rem
    display block
    text-align left

.btn-details-txt
    font-weight 400
    font-sizes 1.4rem
    display block
    text-align left
    color #6d747e

.impact-heading
    color #f07300
    font-weight 500
    display block

.delay-1
    animation-delay 1s
.delay-2
    animation-delay 2s
.delay-3
    animation-delay 3s
.delay-4
    animation-delay 4s
.delay-5
    animation-delay 5s

.tab-pane-value
    h1
        font-size 2.4rem
        line-height 3rem
        margin 20px 0
        text-align center
        color #6d747e


.animated
    &.flipReverse
        -webkit-backface-visibility visible
        backface-visibility visible
        -webkit-animation-name flipReverse
        animation-name flipReverse
        -webkit-animation-duration: .25s;
        animation-duration: .25s;
    &.flipSimple
        animation-name flipSimple !important
        -webkit-animation-duration: .25s;
        animation-duration: .25s;

@keyframes flipReverse {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  10% {
    opacity: 1
  }


  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}


@keyframes flipSimple {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -180deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  10% {
    opacity: 1
  }


  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
}



.animated.customFlipOutY
    -webkit-backface-visibility visible!important
    backface-visibility visible!important
    -webkit-animation-name customFlipOutY
    animation-name customFlipOutY

@keyframes customFlipOutY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }

  to {
    transform: perspective(400px);
  }
}

/* no ui slider */
.noUi
    &-target
        box-shadow none
        border none
        background-color #bec0c1
        &^[0]-horizontal
            height 1px
        &^[0]-vertical
            width 1px
    &-horizontal &-handle
        border-radius 50%
        border none
        box-shadow none
        background #005293
        width 28px
        height 28px
        left -14px
        top -14px
        text-align center
        line-height 28px
        color #fff
        font-size 0.625em
        &:before,&:after
            display none
    &-pips
        height 30px
        padding 0

    &-marker
        &-horizontal, &-vertical
            &^[1]-normal
                display none
            &^[1]-large
                height 10px
                top -5px
            &^[1]-sub
                height 6px
                top -3px
                width 1px
                background #e1e2e3
    &-value
        &-horizontal, &-vertical
            &^[1]-sub, &^[1]-large
                padding-top 8px
                font-size 10px
                color #999

.registration-wrapper
    ism-calc-input input
        width 100%
        text-align left
        max-width 450px
        margin 0 auto

goal-setting
    .noUi-value
        &-large, &-sub
            display none
    .noUi-pips
        height 15px

tooltip-container
    position relative

.tooltip
    &-inner
        background-color #505967
        padding 10px
        max-width 400px
        font-size 14px
    .top&
        .tooltip-arrow
            border-top-color #505967
    .left&
        .tooltip-arrow
            border-left-color #505967
    .bottom&
        .tooltip-arrow
            border-bottom-color #505967
    .right&
        .tooltip-arrow
            border-right-color #505967

.col-xs-12
    padding 0
.cell
    font-size 1.4rem
    padding 3px 5px

.row-title
    font-size 1.6rem

#feedback-charttopper
    table
        table-layout fixed

@media (max-width: 1025px)
    h3
        font-size 2rem
        line-height 1.2em
    h4
        font-size 1.6rem
        line-height 1.2em
    .cell
        font-size 1.3rem

/* Component Styles */
ism-calc-input
    span
        width 100%
        display block
        height 100%
    input
        // color rgba(255,255,255,0.6)
        color #000
        // background #1b3704
        background-color #ccc
        padding-left 8px
        border none
        height 100%
        font-size 16px
        // width -webkit-fill-available
        width 100%
        border-radius 0
        height 30px
        &,&:focus
            outline none

    :host-context(.planningTool)
        input
            background-color #009AA6
            color #FFF
            &:active
            &:focus
                background-color #37DEE7
            &:hover
                background-color #009AA6

ism-calc-checkbox
    input
        width 100%
        margin auto
        -webkit-appearance none
        -moz-appearance none
        appearance none


    .checkbox-container
        width: 25px
        margin: 7px auto
        position: relative
        label
            cursor: pointer
            position: absolute
            width: 25px
            height: 25px
            top: 0
            left: 0
            background: #fff
            border:1px solid #6D6E70
            &:after
                opacity: 0.2
                content: ''
                position: absolute
                width: 9px
                height: 5px
                background: transparent
                top: 8px
                left: 7px
                border: 3px solid #333
                border-top: none
                border-right: none
                transform: rotate(-45deg)

    .checkbox-container label:hover::after
        opacity: 0.5

    .checkbox-container input[type=checkbox]:checked + label:after
        opacity: 1
        border 3px solid #00ADEE
        border-top none
        border-right none

    .checkbox-container input[type=checkbox]:checked + label
        border 1px solid #00ADEE

ul
    li
        list-style-type none

#single-button
    padding-top 5px
    padding-bottom 5px
    width 100%
    text-align left
    .btn .caret
        position absolute
        right 10px
        top 50%
    &.sb-right
        text-align right
        &.btn .caret
            position absolute
            left 10px
            top 50%

.btn-group.open
    #single-button
        border-top-left-radius 5px
        border-top-right-radius 5px
        border-bottom-right-radius 0
        border-bottom-left-radius 0
    .caret
        border-bottom 4px dashed
        border-bottom 4px solid\9
        border-top none

.btn-group.dropdown
    width 100%

.dropdown-menu
    border-radius 0
    margin 0
    border solid 1px #204d74
    min-width inherit
    width 100%
    li
        margin 0
        &:nth-child(even)
            background #f2f2f2
        a
            transition background ease-out .3s, color ease-out .3s
        a:hover
            background #204d74
            color #fff

.dropdown-menu-right
    li
        text-align right

ism-calc-slider
    display inline-block
    width 100%
    padding 15px 10px


.follower
    .registration-footer,
    .intro-text-footer,
    .intro-email-footer,
    .intro-overview-footer,
    .swot-footer,
    .goal-setting-button-container,
    .goal-setting-footer,
    .choice-submitBtn,
    .modal,
    .btn-submit-decisions
        display none

    ism-text-output,
    ism-calc-input,
    ism-calc-dropdown,
    ism-calc-stepper,
    textarea,
    calc-slider,
    .choice,
    .link-meeting.linkIsNormal,
    .link-message.linkIsNormal
        pointer-events none

    .corporate-initiative
        .content-col
            .multiSelect
                pointer-events none

.disabled
    cursor not-allowed !important
    opacity 0.65

ism-calc-dropdown
    display: block
    text-align: right
    .dropdown-text
        margin 0 10px

.p-0
    padding 0 !important
.m-0
    margin 0 !important
