animation-delay(delay)
    -webkit-animation-delay delay
    -moz-animation-delay delay
    -ms-animation-delay delay
    animation-delay delay
    
tranlateTop()
    -webkit-transform translateY(-50%)
    -moz-transform translateY(-50%)
    -ms-transform translateY(-50%)
    transform translateY(-50%)
    
text-indent(index) 
    padding-left 1.25*index em
    display inline-block


input-placeholder-color(prefix, color)
    {prefix}::-webkit-input-placeholder 
        color color
    {prefix}:-moz-placeholder 
       color color
       opacity  1
    {prefix}::-moz-placeholder 
       color color
       opacity 1
    {prefix}:-ms-input-placeholder
       color color
