@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot');
  src:  url('../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*="icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-insight:before {
  content: "\e987";
}
.icon-send-to-team:before {
  content: "\e984";
}
.icon-send-to-screen:before {
  content: "\e985";
}
.icon-developer:before {
  content: "\e983";
}
.icon-phone-hangup:before {
  content: "\e981";
}
.icon-phone-calling:before {
  content: "\e982";
}
.icon-condition:before {
  content: "\e980";
}
.icon-tag-outline:before {
  content: "\e979";
}
.icon-tag-fill:before {
  content: "\e97b";
}
.icon-trophy1:before {
  content: "\e968";
}
.icon-graduation:before {
  content: "\e969";
}
.icon-data:before {
  content: "\e962";
}
.icon-data-au:before {
  content: "\e92c";
}
.icon-server-au:before {
  content: "\e96e";
}
.icon-cohort:before {
  content: "\e95d";
}
.icon-group:before {
  content: "\e95c";
}
.icon-refresh:before {
  content: "\e95a";
}
.icon-rocket:before {
  content: "\e94e";
}
.icon-cross-zero:before {
  content: "\e951";
}
.icon-screen:before {
  content: "\e986";
}
.icon-phone:before {
  content: "\e955";
}
.icon-language-switch:before {
  content: "\e94d";
}
.icon-activity:before {
  content: "\e900";
}
.icon-reorder:before {
  content: "\e963";
}
.icon-move-dots:before {
  content: "\e97d";
}
.icon-left_arrow_double:before {
  content: "\e956";
}
.icon-right_arrow_double:before {
  content: "\e957";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-assessment:before {
  content: "\e906";
}
.icon-attachement:before {
  content: "\e907";
}
.icon-chain-linked:before {
  content: "\e977";
}
.icon-chain-broken:before {
  content: "\e978";
}
.icon-book:before {
  content: "\e908";
}
.icon-book-alt:before {
  content: "\e909";
}
.icon-bookmark-stroke:before {
  content: "\e90b";
}
.icon-bookmark-filled:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-check-circle:before {
  content: "\e90e";
}
.icon-check-circle-filled:before {
  content: "\e958";
}
.icon-checklist:before {
  content: "\e90f";
}
.icon-carrot-down:before {
  content: "\e95e";
}
.icon-carrot-up:before {
  content: "\e95f";
}
.icon-chevron-down:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e913";
}
.icon-chevron-left:before {
  content: "\e911";
}
.icon-chevron-right:before {
  content: "\e912";
}
.icon-left-right:before {
  content: "\e96c";
}
.icon-close:before {
  content: "\e914";
}
.icon-comment-share:before {
  content: "\e959";
}
.icon-comment:before {
  content: "\e915";
}
.icon-compass:before {
  content: "\e916";
}
.icon-dashboard-au:before {
  content: "\e971";
}
.icon-copy:before {
  content: "\e917";
}
.icon-copy-filled:before {
  content: "\e972";
}
.icon-delete:before {
  content: "\e918";
}
.icon-save:before {
  content: "\e967";
}
.icon-external-link:before {
  content: "\e96b";
}
.icon-export:before {
  content: "\e952";
}
.icon-cloud-download:before {
  content: "\e98a";
}
.icon-cloud-upload:before {
  content: "\e98b";
}
.icon-cloud:before {
  content: "\e98c";
}
.icon-user-report:before {
  content: "\e950";
}
.icon-article:before {
  content: "\e905";
}
.icon-document-download:before {
  content: "\e966";
}
.icon-download:before {
  content: "\e919";
}
.icon-upload:before {
  content: "\e948";
}
.icon-download-circle-au:before {
  content: "\e974";
}
.icon-download-circle-filled-au:before {
  content: "\e964";
}
.icon-upload-circle-au:before {
  content: "\e96f";
}
.icon-upload-circle-filled-au:before {
  content: "\e970";
}
.icon-edit:before {
  content: "\e91a";
}
.icon-email:before {
  content: "\e91b";
}
.icon-experiment:before {
  content: "\e91c";
}
.icon-filter-stroke:before {
  content: "\e91e";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-flag:before {
  content: "\e91f";
}
.icon-folder-stroke:before {
  content: "\e922";
}
.icon-folder-filled:before {
  content: "\e920";
}
.icon-folder-open:before {
  content: "\e921";
}
.icon-global:before {
  content: "\e923";
}
.icon-goal:before {
  content: "\e924";
}
.icon-heart-stroke:before {
  content: "\e926";
}
.icon-heart-filled:before {
  content: "\e925";
}
.icon-info:before {
  content: "\e973";
}
.icon-info-circle:before {
  content: "\e965";
}
.icon-info-circle-filled:before {
  content: "\e975";
}
.icon-question:before {
  content: "\e94f";
}
.icon-help:before {
  content: "\e927";
}
.icon-help-filled:before {
  content: "\e953";
}
.icon-home:before {
  content: "\e928";
}
.icon-layers:before {
  content: "\e929";
}
.icon-data-privacy:before {
  content: "\e988";
}
.icon-lock-locked:before {
  content: "\e92a";
}
.icon-lock-unlocked:before {
  content: "\e92b";
}
.icon-map:before {
  content: "\e92d";
}
.icon-men-hamburger:before {
  content: "\e92e";
}
.icon-menu-kebab:before {
  content: "\e92f";
}
.icon-menu-meatball:before {
  content: "\e930";
}
.icon-notification:before {
  content: "\e931";
}
.icon-notification-filled:before {
  content: "\e97a";
}
.icon-picture:before {
  content: "\e932";
}
.icon-pin:before {
  content: "\e933";
}
.icon-plus:before {
  content: "\e934";
}
.icon-minus:before {
  content: "\e960";
}
.icon-plus-thin:before {
  content: "\e935";
}
.icon-minus-thin:before {
  content: "\e961";
}
.icon-reply:before {
  content: "\e936";
}
.icon-reply-solid:before {
  content: "\e937";
}
.icon-report-graph:before {
  content: "\e938";
}
.icon-right-align-au:before {
  content: "\e97c";
}
.icon-search:before {
  content: "\e939";
}
.icon-settings:before {
  content: "\e93a";
}
.icon-logout:before {
  content: "\e96d";
}
.icon-share:before {
  content: "\e93b";
}
.icon-smile:before {
  content: "\e93c";
}
.icon-smile-filled:before {
  content: "\e93d";
}
.icon-star-stroke:before {
  content: "\e93f";
}
.icon-star-filled:before {
  content: "\e93e";
}
.icon-test:before {
  content: "\e940";
}
.icon-textarea:before {
  content: "\e941";
}
.icon-code-au:before {
  content: "\e97e";
}
.icon-thumbsup-stroke:before {
  content: "\e943";
}
.icon-thumbsup-filled:before {
  content: "\e942";
}
.icon-time:before {
  content: "\e944";
}
.icon-time-history:before {
  content: "\e945";
}
.icon-time-future-au:before {
  content: "\e97f";
}
.icon-workshop:before {
  content: "\e989";
}
.icon-tool:before {
  content: "\e946";
}
.icon-trending:before {
  content: "\e947";
}
.icon-team-stroke:before {
  content: "\e96a";
}
.icon-team:before {
  content: "\e95b";
}
.icon-user:before {
  content: "\e949";
}
.icon-video:before {
  content: "\e94a";
}
.icon-view:before {
  content: "\e94b";
}
.icon-hide:before {
  content: "\e954";
}
.icon-warning:before {
  content: "\e94c";
}
.icon-flip:before {
  content: "\e976";
}