$color1 = #0055b0
$color2 = #44458c
$color3 = #3d1071
$color4 = #010637
$light-color1 = #88CDFE
$light-color2 = #bebedb
$light-color3 = #d3bef0
$light-color4 = #6d77da
$sub-color1 = #002854
$sub-color2 = #1e1e3f
$sub-color3 = #1e013f
$sub-color4 = #000000
$shade4-color1 = #01458f
$shade5-color1 = #2F77C4
$dark-grey = #303030

$er-color1 = #008272
$er-color2 = #1dae9c
$er-color3 = #005c51
$er-color4 = #00362f

$er-light-color1 = #2c943e//#1dae9c
$er-light-color2 = #008272
$er-light-color3 = #00362f
$er-light-color4 = #005c51

$er-sub-color1 = #00362F
$er-sub-color2 = #00362f
$er-sub-color3 = #008272
$er-sub-color4 = #1dae9c


$shadow-color1 = #04437C
$shadow-color2 = #1D215E
$shadow-color3 = #260F47
$shadow-color4 = #010523
$er-shadow-color1 = #026052


